extends layout

block content
	.container
		h1.title-block #{suburb.name}
		.row
			.data-block
				h2 $#{suburb.average}
				h3 Average rental price per week for #{suburb.name}
		.row
			.data-block
				h2 #{suburb.crimerate}
				h3 Crime rate for #{suburb.name}
