extends layout

block content
	.overlayer-results
	.container.fix-body-width.background-color
		h1.suburb-title #{suburb.name}, #{suburb.region_name}
		.row
		.row
			.data-block
				h2 $#{suburb.average}
				h3 Average rental price per week for #{suburb.name}
		.row
		.row
		.row.sub-title-block
			.col-6
				h3 Crime rate per capita for #{suburb.region_name}
			.col-6
				h3 Distance from CBD
		.row
			.col-6.data-block
				div(padding-top="1rem")
					h2 #{suburb.crimerate}
			.col-6.data-block
				h2 #{suburb.distance}
