extends layout

block content
		.container
			h1 Search suburbs
			select#bar
			h1= resultsName
			each suburb in suburbsArray
				.row
					.col-1 #{suburb.suburb_id}
					.col-1 #{suburb.region_id}
					.col-10 #{suburb.name}
			each region in regionsArray
				.row
					.col-1 #{region.region_id}
					.col-11 #{region.name}
